In [1]:
alphabets=["a","B","C","D","E"]
for x in alphabets:
  print(x)

a
B
C
D
E

In [2]:
colors=["red","green","white","blue","black"]
for y in colors:
  print(y)

red
green
white
blue
black

In [3]:
fruits=["apple","banana","pine apple","grapes","mango"]
for F in fruits:
  print(F)

apple
banana
pine apple
grapes
mango

In [4]:
for count in range(40,60):
  print(count)

40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [7]:
for x in range (3):
 print(x)

0
1
2

In [8]:
#continue statement
birds = ["sparrow", "crow", "parrot"]
for x in birds:
  if x == "crow":
    continue
  print(x)

sparrow
parrot

In [9]:
#break in loop
books = ["c++", "c#", "php","python","oop"]
for x in books:
  if x == "python":
    break
  print(x)

c++
c#
php

In [10]:
for x in range(3,30,5):
  print(x)

3
8
13
18
23
28

In [12]:
vehicles=["car","truck",'bus']
city=["multan","lahore","karachi","islamabad"]
for x in vehicles:
 for y in city:

  print(x,y)

car multan
car lahore
car karachi
car islamabad
truck multan
truck lahore
truck karachi
truck islamabad
bus multan
bus lahore
bus karachi
bus islamabad

In [16]:
for x in range(7):
  if x==5:
   print(x)

5

In [15]:
for x in range(4):
  if x==10:
   print(x)
else:
  print("Finally finished!")

Finally finished!

In [17]:
days=["monday","tuesday","friday","sunday"]
for x in days:
  if x=="friday":
    break
  print(x)

monday
tuesday

In [18]:
days=["monday","tuesday","friday","sunday"]
for x in days:
  if x=="friday":
    continue
  print(x)

monday
tuesday
sunday